In [85]:
import pandas as pd

In [86]:
df_1 = pd.read_csv('all_bims_train_cleaned.csv')
df_3 = pd.read_csv('all_bims_val_cleaned.csv')
df_2 = pd.read_csv('YearBuiltLabels.csv')
df_4 = pd.read_csv('foundation_type.csv')

In [87]:
'NJBF000068902' in df_2['BldgID']

False

In [88]:
df_1 = df_1.loc[:,['filename','year_built']]
df_1['filename'] = '/home/saschaho/Simcenter/Floor_Elevation_Data/Streetview_Irma/Streetview_Irma/images/' + df_1['filename']
df_1.head(5)

                                            filename  year_built
0  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1998.0
1  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
2  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1970.0
3  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
4  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1984.0

In [89]:
df_2.columns=['filename','year_built']
df_2['filename'] = '/home/shuai/YearBuiltData/YearBuilt/images/'+df_2['filename']+'.png'

In [90]:
df_3 = df_3.loc[:,['filename','year_built']]
df_3['filename'] = '/home/saschaho/Simcenter/Floor_Elevation_Data/Streetview_Irma/Streetview_Irma/images/' + df_3['filename']

In [91]:
df_4 = df_4.loc[:,['filename','year_built']]
df_4['filename'] = '/home/saschaho/Simcenter/Foundation_Images_Orig/' + df_4['filename']

In [92]:
display(df_1.head(5))
display(df_2.head(5))
display(df_3.head(5))
display(df_4.head(5))

                                            filename  year_built
0  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1998.0
1  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
2  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1970.0
3  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
4  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1984.0

                                            filename  year_built
0  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1956
1  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1948
2  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1954
3  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1977
4  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1924

                                            filename  year_built
0  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1990.0
1  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1977.0
2  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1999.0
3  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1974.0
4  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1986.0

                                            filename  year_built
0  /home/saschaho/Simcenter/Foundation_Images_Ori...        2002
1  /home/saschaho/Simcenter/Foundation_Images_Ori...        1927
2  /home/saschaho/Simcenter/Foundation_Images_Ori...        1947
3  /home/saschaho/Simcenter/Foundation_Images_Ori...        1954
4  /home/saschaho/Simcenter/Foundation_Images_Ori...        1928

In [117]:
fns = pd.read_csv('filenames.csv')
fns = fns[['filenames']]
fns.columns = ['filename']
fns['filename'] = '/home/shuai/YearBuiltData/YearBuilt/images/'+fns['filename']

In [136]:
len(fns)

27190

In [137]:
dif = pd.concat([fns, df_2[['filename']]], ignore_index=True)
dif = dif.drop_duplicates(keep=False)
dif.index = dif.index-27190

In [138]:
dif

                                                filename
29     /home/shuai/YearBuiltData/YearBuilt/images/NJB...
31     /home/shuai/YearBuiltData/YearBuilt/images/NJB...
34     /home/shuai/YearBuiltData/YearBuilt/images/NJB...
35     /home/shuai/YearBuiltData/YearBuilt/images/NJB...
36     /home/shuai/YearBuiltData/YearBuilt/images/NJB...
...                                                  ...
32812  /home/shuai/YearBuiltData/YearBuilt/images/NJB...
32813  /home/shuai/YearBuiltData/YearBuilt/images/NJB...
32815  /home/shuai/YearBuiltData/YearBuilt/images/NJB...
32816  /home/shuai/YearBuiltData/YearBuilt/images/NJB...
32827  /home/shuai/YearBuiltData/YearBuilt/images/NJB...

[5638 rows x 1 columns]

In [133]:
dif.iloc[5633:5634,:].index[0]

32812

In [141]:
df_2

                                                filename  year_built
0      /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1956
1      /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1948
2      /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1954
3      /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1977
4      /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1924
...                                                  ...         ...
32823  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1986
32824  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1988
32825  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1987
32826  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1986
32827  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1969

[32828 rows x 2 columns]

In [145]:
df_2 = df_2.drop(index=dif.index)

In [146]:
df = pd.concat([df_1,df_2,df_3,df_4], ignore_index=True)
df.to_csv('all_data.csv')
dff = pd.concat([df_1, df_2, df_3], ignore_index=True)
dff.to_csv('validate_data.csv')