In [23]:
import pandas as pd

In [39]:
df_1 = pd.read_csv('all_bims_train_cleaned.csv')
df_3 = pd.read_csv('all_bims_val_cleaned.csv')
df_2 = pd.read_csv('YearBuiltLabels.csv')
df_4 = pd.read_csv('foundation_type.csv')

In [40]:
df_1 = df_1.loc[:,['filename','year_built']]
df_1['filename'] = '/home/saschaho/Simcenter/Floor_Elevation_Data/Streetview_Irma/Streetview_Irma/images/' + df_1['filename']
df_1.head(5)

                                            filename  year_built
0  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1998.0
1  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
2  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1970.0
3  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
4  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1984.0

In [41]:
df_2.columns=['filename','year_built']
df_2['filename'] = '/home/shuai/YearBuiltData/YearBuilt/images/'+df_2['filename']

In [42]:
df_3 = df_3.loc[:,['filename','year_built']]
df_3['filename'] = '/home/saschaho/Simcenter/Floor_Elevation_Data/Streetview_Irma/Streetview_Irma/images/' + df_3['filename']

In [43]:
df_4 = df_4.loc[:,['filename','year_built']]
df_4['filename'] = '/home/saschaho/Simcenter/Foundation_Images_Orig/' + df_4['filename']

In [29]:
df_1.head(5)

                                            filename  year_built
0  Add%27416 Tobago Ln Summerland Key Monroe FL%C...      1998.0
1  Add%568 Nassau Road Marco Island Collier Count...      1969.0
2  Add%1370 Hudgins Drive Summerland Key Monroe C...      1970.0
3  Add%27 North Conch Avenue Conch Key Monroe FL%...      1969.0
4     Add%4285 32nd Ave SW Naples Collier FL%Hip.jpg      1984.0

In [30]:
df_2.head(5)

                                            filename  year_built
0  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1956
1  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1948
2  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1954
3  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1977
4  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1924

In [31]:
df_3.head(5)

                                            filename  year_built
0  Add%320 Calusa Dr Chokoloskee Collier FL%Gable...      1990.0
1  Add%552 Nassau Road Marco Island Collier Count...      1977.0
2  Add%293 Porter St Naples Collier FL%Hip_Gable.jpg      1999.0
3  Add%511 Marco Lake Dr Marco Island Collier FL%...      1974.0
4  Add%541 W Indies Drive Ramrod Key Monroe FL%Ga...      1986.0

In [32]:
df_4['filename'] = '/home/saschaho/Simcenter/Foundation_Images_Orig/' + df_4['filename']
df_4.head(5)

                                            filename  year_built
0  /home/saschaho/Simcenter/Foundation_Images_Ori...        2002
1  /home/saschaho/Simcenter/Foundation_Images_Ori...        1927
2  /home/saschaho/Simcenter/Foundation_Images_Ori...        1947
3  /home/saschaho/Simcenter/Foundation_Images_Ori...        1954
4  /home/saschaho/Simcenter/Foundation_Images_Ori...        1928

In [33]:
df_1['filename'] = '/home/saschaho/Simcenter/Floor_Elevation_Data/Streetview_Irma/Streetview_Irma/images/' + df_1['filename']

In [34]:
df_2['filename'] = '/home/saschaho/Simcenter/Floor_Elevation_Data/Streetview_Irma/Streetview_Irma/images/' + df_2['filename']

In [44]:
display(df_1.head(5))
display(df_2.head(5))
display(df_3.head(5))
display(df_4.head(5))

                                            filename  year_built
0  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1998.0
1  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
2  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1970.0
3  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
4  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1984.0

                                            filename  year_built
0  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1956
1  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1948
2  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1954
3  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1977
4  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1924

                                            filename  year_built
0  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1990.0
1  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1977.0
2  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1999.0
3  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1974.0
4  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1986.0

                                            filename  year_built
0  /home/saschaho/Simcenter/Foundation_Images_Ori...        2002
1  /home/saschaho/Simcenter/Foundation_Images_Ori...        1927
2  /home/saschaho/Simcenter/Foundation_Images_Ori...        1947
3  /home/saschaho/Simcenter/Foundation_Images_Ori...        1954
4  /home/saschaho/Simcenter/Foundation_Images_Ori...        1928

In [46]:
df = pd.concat([df_1,df_2,df_3,df_4])

In [47]:
df.to_csv('all_data.csv')

In [48]:
dff = pd.concat([df_1, df_2, df_3])
dff.to_csv('validate_data.csv')

In [49]:
len(df)

48694

In [50]:
int(48694/125)*125

48625

In [51]:
df = df.sample(48625)

In [52]:
df.to_csv('all_data.csv')