In [85]:
import pandas as pd

In [86]:
df_1 = pd.read_csv('all_bims_train_cleaned.csv')
df_3 = pd.read_csv('all_bims_val_cleaned.csv')
df_2 = pd.read_csv('YearBuiltLabels.csv')
df_4 = pd.read_csv('foundation_type.csv')

In [87]:
'NJBF000068902' in df_2['BldgID']

False

In [88]:
df_1 = df_1.loc[:,['filename','year_built']]
df_1['filename'] = '/home/saschaho/Simcenter/Floor_Elevation_Data/Streetview_Irma/Streetview_Irma/images/' + df_1['filename']
df_1.head(5)

                                            filename  year_built
0  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1998.0
1  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
2  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1970.0
3  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
4  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1984.0

In [89]:
df_2.columns=['filename','year_built']
df_2['filename'] = '/home/shuai/YearBuiltData/YearBuilt/images/'+df_2['filename']+'.png'

In [90]:
df_3 = df_3.loc[:,['filename','year_built']]
df_3['filename'] = '/home/saschaho/Simcenter/Floor_Elevation_Data/Streetview_Irma/Streetview_Irma/images/' + df_3['filename']

In [91]:
df_4 = df_4.loc[:,['filename','year_built']]
df_4['filename'] = '/home/saschaho/Simcenter/Foundation_Images_Orig/' + df_4['filename']

In [92]:
display(df_1.head(5))
display(df_2.head(5))
display(df_3.head(5))
display(df_4.head(5))

                                            filename  year_built
0  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1998.0
1  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
2  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1970.0
3  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
4  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1984.0

                                            filename  year_built
0  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1956
1  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1948
2  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1954
3  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1977
4  /home/shuai/YearBuiltData/YearBuilt/images/NJB...        1924

                                            filename  year_built
0  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1990.0
1  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1977.0
2  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1999.0
3  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1974.0
4  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1986.0

                                            filename  year_built
0  /home/saschaho/Simcenter/Foundation_Images_Ori...        2002
1  /home/saschaho/Simcenter/Foundation_Images_Ori...        1927
2  /home/saschaho/Simcenter/Foundation_Images_Ori...        1947
3  /home/saschaho/Simcenter/Foundation_Images_Ori...        1954
4  /home/saschaho/Simcenter/Foundation_Images_Ori...        1928

In [93]:
df = pd.concat([df_1,df_2,df_3,df_4], ignore_index=True)

In [94]:
len(df)

48694

In [97]:
'/home/shuai/YearBuiltData/YearBuilt/images/NJBF000076798.png' in df['filename']

False

In [98]:
df[['filename']]

                                                filename
0      /home/saschaho/Simcenter/Floor_Elevation_Data/...
1      /home/saschaho/Simcenter/Floor_Elevation_Data/...
2      /home/saschaho/Simcenter/Floor_Elevation_Data/...
3      /home/saschaho/Simcenter/Floor_Elevation_Data/...
4      /home/saschaho/Simcenter/Floor_Elevation_Data/...
...                                                  ...
48689  /home/saschaho/Simcenter/Foundation_Images_Ori...
48690  /home/saschaho/Simcenter/Foundation_Images_Ori...
48691  /home/saschaho/Simcenter/Foundation_Images_Ori...
48692  /home/saschaho/Simcenter/Foundation_Images_Ori...
48693  /home/saschaho/Simcenter/Foundation_Images_Ori...

[48694 rows x 1 columns]

In [73]:
# df = df.sample(48625)
# df = df.sort_index()
# df.index = range(48625)

In [95]:
df.to_csv('all_data.csv')

In [96]:
dff = pd.concat([df_1, df_2, df_3], ignore_index=True)
dff.to_csv('validate_data.csv')

In [69]:
len(df)

48625

In [50]:
int(48694/125)*125

48625

In [83]:
'/home/shuai/YearBuiltData/YearBuilt/images/NJBF000068902.png' in df['filename']

False

In [77]:
dff

                                                filename  year_built
0      /home/saschaho/Simcenter/Floor_Elevation_Data/...      1998.0
1      /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
2      /home/saschaho/Simcenter/Floor_Elevation_Data/...      1970.0
3      /home/saschaho/Simcenter/Floor_Elevation_Data/...      1969.0
4      /home/saschaho/Simcenter/Floor_Elevation_Data/...      1984.0
...                                                  ...         ...
33348  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1986.0
33349  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1925.0
33350  /home/saschaho/Simcenter/Floor_Elevation_Data/...      2010.0
33351  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1999.0
33352  /home/saschaho/Simcenter/Floor_Elevation_Data/...      1983.0

[33353 rows x 2 columns]